<div>
  <div class="nav-link nest-header"
       [ngClass]="{'active': highlightParent, 'opened': activeNav === sideBarOpts.parentTab.value}"
       (click)="toggleNavStatusActiveNav()">
    <i class="material-icons tab-icon">
      {{sideBarOpts.parentTab.iconCode}}
    </i>
    <span [hidden]="barIsCollapsed">
      {{sideBarOpts.parentTab.name}}
    </span>
    <i class="material-icons arrow-right"
       [hidden]="barIsCollapsed"
       [ngClass]="{'opened': activeNav === sideBarOpts.parentTab.value}">
      keyboard_arrow_right
    </i>
  </div>

  <ul [ngbCollapse]="activeNav !== sideBarOpts.parentTab.value">
    <li *ngFor="let tab of sideBarOpts.childTabs">
      <a class="nav-link" [routerLink]="tab.value" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        {{tab.name}}
      </a>
    </li>
  </ul>
</div>
