<clp-page-header pageTitle="Informativos"></clp-page-header>

<ul class="default-list-of-items no-styles">
  <li *ngFor="let fileItem of dataFilesList">
    <span class="material-icons --yellow">folder</span>
    <div class="file-specs">
      <div class="file-name">
        {{fileItem.name}}
      </div>
      <div class="file-date">
        {{fileItem.creationDate | date: 'd \'de\' MMMM, yyyy'}}
      </div>
    </div>
    <a [href]="fileItem.url" class="download-link">
      BAIXAR
    </a>
  </li>
</ul>
