ul.list-of-documents {
  padding: 30px 20px;

  li {
    display: flex;
    margin-bottom: 30px;
    align-items: center;

    > .material-icons {
      background-color: #FDD774;
      padding: 8px;
      color: #FFF;
      border-radius: 50px;
    }
    > .file-specs {
      flex: 1;
      margin: 0 15px;

      .file-name {
        font-size: 16px;
      }
      .file-date {
        color: #c0c0c0;
      }
    }
    > a.download-link {
      color: #465BA6;
      font-size: 10px;
      font-weight: 500;
    }
  }
}
