<clp-page-header pageTitle="Projetos Ativos"></clp-page-header>

<ul class="default-list-of-items no-styles">
  <li *ngFor="let projectItem of activeProjectsList" (click)="goToProjectDetails(projectItem)">
    <span class="material-icons --blue">school</span>
    <div class="file-specs">
      <div class="file-name">
        {{projectItem?.name}}
      </div>
      <div class="file-date">
        {{projectItem?.creationDate | date: 'd \'de\' MMMM, yyyy' | textPlaceholder}}
      </div>
    </div>
  </li>
</ul>

<a class="floating-button" href="/home/create-project">
  <i class="material-icons">add</i>
</a>
