@import "../../variables-and-mixins";

.home-component {
  height: 100vh;
  display: flex;
  flex-direction: column;

  > .navbar {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: $navbar-height;
    background-color: #009688;
    font-size: 16px;
    padding: 0.3rem 1rem;

    .navbar-brand {
      color: #FFF;

      > img {
        height: 24px;
        vertical-align: sub;
        cursor: pointer;
      }
    }
    .nav-item > a {
      color: #1f34b8;

      &.active {
        color: #3f71af;
        font-weight: 500;
      }
      &.disabled {
        opacity: 0.6;
      }
      .material-icons {
        font-size: 18px;
        vertical-align: text-top;
        margin-right: 2px;
      }
    }
    .menu-handle {
      color: #405166;
      cursor: pointer;

      .dropdown-toggle {
        padding: 7px 0;
      }
      .static-opt {
        font-size: 13px;
        color: #909090;
        padding: .25rem 1.5rem;
        cursor: default;
      }
      a.dropdown-item {
        padding: 0.5rem 1.5rem;
      }
    }
  }
  > section {
    flex: 1;
    height: 0;
  }
}
